*, *:before, *:arter {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  margin: auto;
  font-family: sans-seif;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1600px;
  margin: auto;
}

.service-item-know-btn {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 85px;
  color: #f9fbfb;
  font-family: "Raleway";
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

.title-first, .title-first-featured, .title-first-services, .title-first-team, .title-first-reviews {
  margin: 0;
  font-size: 38px;
  letter-spacing: 2px;
  line-height: 28px;
  color: #000000;
  font-family: "Montserrat";
  font-weight: 700;
  text-transform: uppercase;
}

.title-first-featured, .title-first-featured-featured, .title-first-services-featured, .title-first-team-featured, .title-first-reviews-featured {
  margin-left: 40px;
  margin-bottom: 15px;
}

.title-first-services, .title-first-featured-services, .title-first-services-services, .title-first-team-services, .title-first-reviews-services {
  margin-left: 0px;
  margin-top: 50px;
  margin-bottom: 10px;
}

.title-first-team, .title-first-featured-team, .title-first-services-team, .title-first-team-team, .title-first-reviews-team {
  margin-left: 6px;
}

.title-second, .title-second-featured, .title-second-services, .title-second-team, .title-second-reviews {
  margin: 0;
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 28px;
  color: #000000;
  font-family: "Merriweather";
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.title-second-featured, .title-second-featured-featured, .title-second-services-featured, .title-second-team-featured, .title-second-reviews-featured {
  line-height: 20px;
  letter-spacing: 1.3px;
}

.title-second-services, .title-second-featured-services, .title-second-services-services, .title-second-team-services, .title-second-reviews-services {
  line-height: 20px;
  letter-spacing: 1.3px;
}

.title-second-team, .title-second-featured-team, .title-second-services-team, .title-second-team-team, .title-second-reviews-team {
  margin-top: 13px;
  line-height: 20px;
  letter-spacing: 0.4px;
}

.title-second-reviews, .title-second-featured-reviews, .title-second-services-reviews, .title-second-team-reviews, .title-second-reviews-reviews {
  letter-spacing: 0.5px;
  margin-top: 8px;
}

.header {
  display: -ms-grid;
  display: grid;
  min-height: 106vh;
  -ms-grid-columns: 2fr 2fr 1fr 1fr;
      grid-template-columns: 2fr 2fr 1fr 1fr;
      grid-template-areas: "header-logo . . header-btn-menu" "header-title header-title header-title header-title" ". header-btn-contact header-pic .";
  -ms-grid-rows: 2fr 3fr 4fr;
      grid-template-rows: 2fr 3fr 4fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  background-color: #eff0f2;
}

.header-logo {
  margin-left: 40px;
  margin-bottom: 3px;
  border: 5.54px solid #170f1c;
  width: 100px;
  height: 35px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header-logo;
  line-height: 28px;
  color: #000000;
  text-align: center;
}

.header-logo-text {
  margin-bottom: 0px;
  margin-top: 4px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 19px;
}

.header-logo-color-letter {
  color: #77efe5;
  font-size: 22px;
  text-shadow: black 1px 1px 0, black -1px -1px 0, black -1px 1px 0, black 1px -1px 0;
}

.header-btn-menu {
  -ms-grid-column-align: start;
      justify-self: start;
  font-size: 32px;
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: header-btn-menu;
  margin-left: 10px;
  margin-top: 4px;
}

.header-btn-contact {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: header-btn-contact;
  border: 2px solid #000000;
  text-align: center;
  margin-bottom: 17%;
  width: 43%;
  height: 14%;
  border-radius: 2px;
}

.header-btn-contact-text {
  letter-spacing: 2px;
  margin-top: 7%;
  margin-bottom: 6%;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  font-family: "Montserrat";
  color: rgba(0, 0, 0, 0.749);
}

.header-title {
  margin-bottom: 2%;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: header-title;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  text-align: center;
  font-size: 47px;
  color: #505050;
  font-family: "Montserrat";
  font-weight: bold;
  text-align: center;
  text-shadow: 0px 9px 10px rgba(0, 0, 0, 0.24);
  text-transform: uppercase;
}

.header-title-color-letter {
  background: #77efe580;
}

.header-pic {
  width: 50%;
  margin-top: 24%;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: header-pic;
}

.about {
  display: -ms-grid;
  display: grid;
  min-height: 129vh;
  -ms-grid-columns: 1fr 0.87fr;
      grid-template-columns: 1fr 0.87fr;
      grid-template-areas: "about-title about-title" "about-carousel about-text";
  -ms-grid-rows: 2fr 5fr;
      grid-template-rows: 2fr 5fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  background-color: #f8fafa;
}

.about-title {
  text-align: center;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: about-title;
}

.about-title-first-position {
  margin-top: 7%;
  margin-left: 3%;
  margin-bottom: 2%;
}

.about-carousel {
  margin-top: 3%;
  margin-left: 18%;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  -ms-grid-column-align: center;
      justify-self: center;
  max-width: 454px;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: about-carousel;
}

.about-carousel img {
  height: 50%;
}

.about-text {
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: about-text;
  width: 60%;
}

.about-text-title, .about-text-title-second {
  margin-top: 12%;
  text-transform: uppercase;
  font-size: 21px;
  letter-spacing: 1px;
  line-height: 28px;
  color: #000000;
  font-family: "Merriweather";
  font-weight: 700;
}

.about-text-desc, .about-text-desc-second, .about-text-desc-third {
  width: 109%;
  margin-bottom: 30px;
  font-size: 16px;
  letter-spacing: 0.9px;
  line-height: 28px;
  color: #000000;
  font-family: "Raleway";
  font-weight: 400;
}

.about-text-title-second {
  margin: 0;
  font-size: 18px;
  letter-spacing: 0.8px;
}

.about-text-desc-second {
  margin-top: 12px;
  margin-bottom: 0px;
}

.about-text-desc-third {
  margin-top: 0px;
}

.featured {
  display: -ms-grid;
  display: grid;
  min-height: 153vh;
  background-color: #ffffff;
  -ms-grid-rows: 1fr 5fr;
      grid-template-rows: 1fr 5fr;
      grid-template-areas: "featured-title" "featured-works";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.featured-title {
  text-align: center;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: featured-title;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.featured-works {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: featured-works;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
      grid-template-areas: "featured-work-1 featured-work-2 featured-work-3" "featured-work-4 featured-work-5 featured-work-6";
}

.featured-work-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: featured-work-1;
}

.featured-work-2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: featured-work-2;
}

.featured-work-3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: featured-work-3;
}

.featured-work-4 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: featured-work-4;
}

.featured-work-5 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: featured-work-5;
}

.featured-work-6 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: featured-work-6;
}

.services {
  display: -ms-grid;
  display: grid;
  min-height: 213vh;
  background-color: #f9fbfb;
  -ms-grid-rows: 1fr 5fr;
      grid-template-rows: 1fr 5fr;
      grid-template-areas: "services-title" "services-items";
}

.services .services-item-0 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: services-item-0;
  -ms-flex-item-align: end;
      align-self: end;
  justify-self: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.services .services-item-1 {
  -ms-flex-item-align: end;
      align-self: end;
      justify-self: start;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: services-item-1;
  position: relative;
}

.services .services-item-2 {
  -ms-flex-item-align: center;
      align-self: center;
      justify-self: end;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: services-item-2;
  position: relative;
}

.services .services-item-3 {
  -ms-flex-item-align: center;
      align-self: center;
      justify-self: start;
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: services-item-3;
  position: relative;
}

.services .services-item-4 {
  -ms-flex-item-align: start;
      align-self: start;
      justify-self: end;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: services-item-4;
  position: relative;
}

.services .services-item-5 {
  -ms-flex-item-align: start;
      align-self: start;
      justify-self: start;
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: services-item-5;
  position: relative;
}

.services-title {
  grid-area: services-title;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: services-title;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  text-align: center;
}

.services-items {
  display: -ms-grid;
  display: grid;
  margin-bottom: 2%;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: services-items;
  -ms-grid-rows: 1fr 0.8fr 1fr;
      grid-template-rows: 1fr 0.8fr 1fr;
  -ms-grid-columns: 1fr 0.23fr 1fr;
      grid-template-columns: 1fr 0.23fr 1fr;
  grid-gap: 1%;
  justify-items: center;
      grid-template-areas: "services-item-0 services-item-0 services-item-1" "services-item-2 services-item-2 services-item-3" "services-item-4 services-item-5 services-item-5 ";
}

.service-item-desc-full {
  display: none;
}

.service-item-title {
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 29px;
  color: #ffffff;
  font-family: "Merriweather";
  font-weight: 700;
}

.service-item-info, .service-item-info-1, .service-item-info-2 {
  margin-left: 64px;
  margin-top: 10.6%;
  font-size: 20px;
  color: white;
  position: absolute;
}

.service-item-info-1, .service-item-info-1-1, .service-item-info-2-1 {
  margin-top: 9.0%;
}

.service-item-info-2, .service-item-info-1-2, .service-item-info-2-2 {
  margin-top: 6.5%;
}

.service-item-desc {
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 25px;
  color: #ffffff;
  font-family: "Raleway";
  font-weight: 400;
}

.team {
  display: -ms-grid;
  display: grid;
  min-height: 172vh;
  -ms-grid-rows: 0.33fr 1fr 1fr;
      grid-template-rows: 0.33fr 1fr 1fr;
  -ms-grid-columns: 1fr  1fr 1fr;
      grid-template-columns: 1fr  1fr 1fr;
      grid-template-areas: "team-title team-title team-title" "team-memb-1 team-memb-2 team-memb-3" "team-memb-4 team-memb-5 team-memb-6";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  grid-gap: 1%;
  text-align: center;
}

.team-title {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: team-title;
}

.team-memb-1 {
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: team-memb-1;
}

.team-memb-2 {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: team-memb-2;
}

.team-memb-3 {
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: team-memb-3;
}

.team-memb-4 {
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: team-memb-4;
}

.team-memb-5 {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: team-memb-5;
}

.team-memb-6 {
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: team-memb-6;
}

.reviews {
  display: -ms-grid;
  display: grid;
  min-height: 181vh;
  background-color: #f9fbfb;
  -ms-grid-rows: 1.2fr 3fr 2fr;
      grid-template-rows: 1.2fr 3fr 2fr;
      grid-template-areas: "reviews-title" "reviews-slider" "reviews-logos";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.reviews-title {
  text-align: center;
  margin-top: 4%;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: reviews-title;
}

.reviews-slider {
  -ms-flex-item-align: start;
      align-self: flex-start;
  max-width: 1500px;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: reviews-slider;
}

.reviews-logos {
  margin-top: 57px;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: reviews-logos;
}

.reviews-slider {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "reviews-slider-avatar" "reviews-slider-text";
}

.reviews-slider .slick-dots {
  text-align: start;
  bottom: -14%;
  left: 21%;
  width: 10%;
}

.reviews-slider .slick-prev {
  top: 106%;
  left: 79%;
}

.reviews-slider .slick-next {
  top: 106%;
  right: 14%;
}

.reviews-slider .slick-prev:before, .reviews-slider .slick-next:before {
  font-size: 45px;
  color: #5f5d5d;
}

.reviews-slider-img {
  width: 96%;
}

.reviews-slider-block-avatar {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: reviews-slider-avatar;
}

.reviews-slider-block {
  margin-top: 1%;
}

.reviews-slider-block-text {
  margin-left: 130px;
  font-size: 25px;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: reviews-slider-text;
}

.contacts {
  display: -ms-grid;
  display: grid;
  min-height: 720px;
  background: no-repeat url("../img/img-contacts-background.png");
  background-size: cover;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.follow-us {
  display: -ms-grid;
  display: grid;
  min-height: 315px;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(75, 59, 49, 0.5);
}
/*# sourceMappingURL=style.css.map */