$fa-font-path: '../node_modules/@fortawesome/fontawesome-free/webfonts'
@import '../node_modules/@fortawesome/fontawesome-free/scss/fontawesome'
@import '../node_modules/@fortawesome/fontawesome-free/scss/solid'
@import '../node_modules/@fortawesome/fontawesome-free/scss/regular'

*, *:before, *:arter
    box-sizing: border-box
img
    max-width: 100%
    height: auto
body
    margin: auto
    font-family: sans-seif
a
    text-decoration: none
.container
    max-width: 1600px
    margin: auto

.service-item-know-btn
    font-size: 18px
    letter-spacing: 1px
    line-height: 85px
    color: #f9fbfb
    font-family: "Raleway"
    font-weight: 500
    text-align: center
    text-transform: uppercase
.title-first,
.title-first-featured,
.title-first-services,
.title-first-team,
.title-first-reviews
    margin: 0
    font-size: 38px
    letter-spacing: 2px
    line-height: 28px
    color: #000000
    font-family: "Montserrat"
    font-weight: 700
    text-transform: uppercase
    &-featured
        margin-left: 40px
        margin-bottom: 15px
    &-services
        margin-left: 0px
        margin-top: 50px
        margin-bottom: 10px
    &-team
        margin-left: 6px

.title-second,
.title-second-featured,
.title-second-services,
.title-second-team,
.title-second-reviews
    margin: 0
    font-size: 18px
    letter-spacing: 2px
    line-height: 28px
    color: #000000
    font-family: "Merriweather"
    font-weight: 400
    text-align: center
    text-transform: uppercase
    &-featured
        line-height: 20px
        letter-spacing: 1.3px
    &-services
        line-height: 20px
        letter-spacing: 1.3px
    &-team
        margin-top: 13px
        line-height: 20px
        letter-spacing: 0.4px
    &-reviews
        letter-spacing: 0.5px
        margin-top: 8px

.head
    background-color: #eff0f2
.header
    display: grid
    //min-height: 810px
    min-height: 106vh
    grid-template-columns: 2fr 2fr 1fr 1fr
    grid-template-areas: "header-logo . . header-btn-menu" "header-title header-title header-title header-title" ". header-btn-contact header-pic ."
    grid-template-rows: 2fr 3fr 4fr
    align-items: center
    justify-items: center
    @media (max-width: 1025px) 
        height: auto

    // logo

.header-logo
    margin-left: 40px
    margin-bottom: 3px
    border: 5.54px solid #170f1c
    width: 100px
    height: 35px
    grid-area: header-logo
    line-height: 28px
    color: #000000
    text-align: center
.header-logo-text
    margin-bottom: 0px
    margin-top: 4px
    font-family: 'Montserrat', sans-serif
    font-weight: 900
    text-transform: uppercase
    font-size: 19px
.header-logo-color-letter
    color: #77efe5
    font-size: 22px
    text-shadow: black 1px 1px 0, black -1px -1px 0, black -1px 1px 0, black 1px -1px 0

    //menu button

.header-btn-menu
    color: black
    justify-self: start
    font-size: 32px
    grid-area: header-btn-menu
    margin-left: 10px
    margin-top: 4px
    transition: 0.3s

.header-btn-menu:hover
    color:#77efe5
    transform: rotate(180deg)

.header-btn-contact
    grid-area: header-btn-contact
    border: 2px solid #000000
    text-align: center
    margin-bottom: 17%
    width: 43%
    height: 14%
    border-radius: 2px
    transition: 1s
    @media (max-width: 1000px) 
        width: auto
        height: auto
.header-btn-contact:hover
    background-color: #77efe5

.header-btn-contact-text
    letter-spacing: 2px
    margin-top: 7%
    margin-bottom: 6%
    text-transform: uppercase
    font-size: 18px
    font-weight: 600
    font-family: "Montserrat"
    color: rgba(0, 0, 0, 0.749)

.header-title
    margin-bottom: 2%
    grid-area: header-title
    align-self: end
    text-align: center
    font-size: 47px
    color: #505050
    font-family: "Montserrat"
    font-weight: bold
    text-align: center
    text-shadow: 0px 9px 10px rgba(0, 0, 0, 0.24)
    text-transform: uppercase
.header-title-color-letter
    background: #77efe580
.header-pic
    width: 50%
    margin-top: 24%
    justify-self: end
    grid-area: header-pic

.about
    display: grid
    //min-height: 986px
    min-height: 129vh
    grid-template-columns: 1fr 0.87fr
    grid-template-areas: "about-title about-title" "about-carousel about-text"
    grid-template-rows: 2fr 5fr
    align-items: center
    justify-items: center
    background-color: #f8fafa
    @media (max-width: 1025px) 
        grid-template-rows: 2fr 3fr 2fr
        grid-template-areas: "about-title about-title" "about-carousel about-carousel" "about-text about-text"
        height: auto
    &-title
        text-align: center
        grid-area: about-title
        &-first-position
            margin-top: 7%
            margin-left: 3%
            margin-bottom: 2%
            @media (max-width: 1025px)
                margin: 0
    &-carousel
        margin-top: 3%
        margin-left: 18%
        align-self: start
        justify-self: center
        max-width: 454px
        grid-area: about-carousel
        @media (max-width: 1025px)
            align-self: center
            margin: 0
    &-carousel img
        height: 50%

    // about-us text

    &-text
        justify-self: start
        align-self: start
        grid-area: about-text
        width: 60%
        @media (max-width: 1025px) 
            justify-self: center
            text-align: center
        &-title, &-title-second
            margin-top: 12%
            text-transform: uppercase
            font-size: 21px
            letter-spacing: 1px
            line-height: 28px
            color: #000000
            font-family: "Merriweather"
            font-weight: 700
        &-desc, &-desc-second, &-desc-third
            width: 109%
            margin-bottom: 30px
            font-size: 16px
            letter-spacing: 0.9px
            line-height: 28px
            color: #000000
            font-family: "Raleway"
            font-weight: 400
        &-title-second
            margin: 0
            font-size: 18px
            letter-spacing: 0.8px
        &-desc-second
            margin-top: 12px
            margin-bottom: 0px
        &-desc-third
            margin-top: 0px

.featured

    display: grid
    //min-height: 1165px
    min-height: 153vh
    background-color: #ffffff
    grid-template-rows: 1fr 5fr
    grid-template-areas: "featured-title" "featured-works"
    align-items: center
    justify-items: center
    &-title
        text-align: center
        grid-area: featured-title
        align-self: end
    &-works
        display: grid
        grid-area: featured-works
        grid-template-rows: 1fr 1fr
        grid-template-columns: 1fr 1fr 1fr
        grid-gap: 10px
        grid-template-areas: "featured-work-1 featured-work-2 featured-work-3" "featured-work-4 featured-work-5 featured-work-6"

.featured-work-1
    grid-area: featured-work-1
.featured-work-2
    grid-area: featured-work-2
.featured-work-3
    grid-area: featured-work-3
.featured-work-4
    grid-area: featured-work-4
.featured-work-5
    grid-area: featured-work-5
.featured-work-6
    grid-area: featured-work-6


.shape
    border: 12px solid transparent
    border-bottom: 24px solid #77efe5
    display: block
    opacity: 0
    position: absolute
    width: 0
    height: 0
    z-index: 10
    margin-top: 39%
    margin-left: 10%
    transition: 0.5s

.services
    display: grid
    //min-height: 1620px
    min-height: 213vh
    background-color: #f9fbfb
    grid-template-rows: 1fr 5fr
    grid-template-areas: "services-title" "services-items"
    .services-item-0
        grid-area: services-item-0
        align-self: end
        justify-self: end
        display: flex
        flex-direction: column
        position: relative
    .services-item-1
        align-self: end
        justify-self: start
        grid-area: services-item-1
        position: relative
    .services-item-2
        align-self: center
        justify-self: end
        grid-area: services-item-2
        position: relative

    .services-item-3
        align-self: center
        justify-self: start
        grid-area: services-item-3
        position: relative

    .services-item-4
        align-self: start
        justify-self: end
        grid-area: services-item-4
        position: relative

    .services-item-5
        align-self: start
        justify-self: start
        grid-area: services-item-5
        position: relative

.services-title
    grid-area: services-title
    grid-area: services-title
    align-self: center
    justify-self: center
    text-align: center

.services-items
    display: grid
    margin-bottom: 2%
    grid-area: services-items
    grid-template-rows: 1fr 0.8fr 1fr
    grid-template-columns: 1fr 0.23fr 1fr
    grid-gap: 1%
    justify-items: center
    grid-template-areas: "services-item-0 services-item-0 services-item-1" "services-item-2 services-item-2 services-item-3" "services-item-4 services-item-5 services-item-5 "

.service-item-desc-full
    display: none

.service-item-title
    text-transform: uppercase
    font-size: 20px
    letter-spacing: 1px
    line-height: 29px
    color: #ffffff
    font-family: "Merriweather"
    font-weight: 700

.service-item-info,.service-item-info-1,.service-item-info-2,
    margin-left: 64px
    margin-top: 10.6%
    font-size: 20px
    color: white
    position: absolute
    &-1
        margin-top: 9.0%
    &-2
        margin-top: 6.5%

.service-item-desc
    font-size: 16px
    letter-spacing: 0px
    line-height: 25px
    color: #ffffff
    font-family: "Raleway"
    font-weight: 400

.team
    display: grid
    //min-height: 1310px
    min-height: 172vh
    background-color: #ffffff
    grid-template-rows: 0.33fr 1fr 1fr
    grid-template-columns: 1fr  1fr 1fr
    grid-template-areas: "team-title team-title team-title" "team-memb-1 team-memb-2 team-memb-3" "team-memb-4 team-memb-5 team-memb-6"
    align-items: center
    justify-items: center
    grid-gap: 1%
    text-align: center
    &-title
        align-self: end
        grid-area: team-title
    &-memb-position
        position: relative
    &-memb-info
        margin-left: 5%
        position: absolute
        width: 91%
        height: 54%
        margin-top: 47%
        background: #6ff5eb
        display: block
        opacity: 0
        transition: 0.5s
    &-memb-1
        justify-self: end
        align-self: end
        grid-area: team-memb-1

    &-memb-1:hover .shape,
    &-memb-1:hover .team-memb-info
        opacity: 1

    &-memb-2
        align-self: end
        grid-area: team-memb-2

    &-memb-2:hover .shape,
    &-memb-2:hover .team-memb-info
        opacity: 1

    &-memb-3
        justify-self: start
        align-self: end
        grid-area: team-memb-3

    &-memb-3:hover .shape,
    &-memb-3:hover .team-memb-info
        opacity: 1

    &-memb-4
        justify-self: end
        align-self: start
        grid-area: team-memb-4

    &-memb-4:hover .shape,
    &-memb-4:hover .team-memb-info
        opacity: 1

    &-memb-5
        align-self: start
        grid-area: team-memb-5

    &-memb-5:hover .shape,
    &-memb-5:hover .team-memb-info
        opacity: 1

    &-memb-6
        justify-self: start
        align-self: start
        grid-area: team-memb-6

    &-memb-6:hover .shape,
    &-memb-6:hover .team-memb-info
        opacity: 1

.reviews
    //display: flex
    //flex-direction: column
    //justify-content: center
    //min-height: 1377px
    //min-height: 181vh
    background-color: #f9fbfb
    &-title
        text-align: center
        margin-top: 8%
        grid-area: reviews-title
    &-slider
        align-self: flex-start
        max-width: 1500px
    &-logos
        align-self: center
        margin-top: 17%

.reviews-slider
    display: grid
    grid-template-columns: 1fr 1fr
    grid-template-areas: "reviews-slider-avatar" "reviews-slider-text"

.reviews-slider .slick-dots
    text-align: start
    bottom: -14%
    left: 21%
    width: 10%

.reviews-slider .slick-prev
    top: 106%
    left: 79%

.reviews-slider .slick-next
    top: 106%
    right: 14%

.reviews-slider .slick-prev:before, .reviews-slider .slick-next:before
    font-size: 45px
    color: #5f5d5d

.reviews-slider-img
    width: 96%
.reviews-slider-block-avatar
    grid-area: reviews-slider-avatar

.reviews-slider-block
    margin-top: 123px

.reviews-slider-block-text
    margin-left: 130px
    font-size: 25px
    grid-area: reviews-slider-text

.contacts
    display: grid
    min-height: 720px
    background: no-repeat url("../img/img-contacts-background.png")
    background-size: cover
    grid-template-columns: 1fr 1fr
.follow-us
    display: grid
    min-height: 315px
    justify-items: center
    align-items: center
    background-color: rgba(75, 59, 49, 0.5)

